* {
	margin: 0;
	border: 0;	
}
}
body {
	font-family: sans-serif;
}
h1 {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}
.container {
	width: 100%;
}
h3 {
	border: 1px solid black;
	width: 30%;
	text-align: center;
	float: right;
}

span {
	border: 1px solid black;
	background-color: gray;
}
p {
	padding: 5px;
	text-align: center;
	clear: right;
	margin: 5px;
}
@media (min-width: 992px) {
	span {
		width: 30%;
		padding-bottom: 5px;
		float: left;
		margin: 1.56%;

	}
}

@media (min-width: 768px) and (max-width: 991px) {
	span {
		width: 47.87%;
		float: left;
		margin: 0.9%;
	}
	.aaa {
		width: 99%;
		margin: 0.5%;
		height: 100px;
		}
}

@media (max-width: 767px) {
	span {
		display: inline-block;
		margin: 2%;
	}
}